body{
    background-color: beige;
}
header{
    text-align: center;
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}
table{
    border: 2px solid black;
    margin-left: 160px;
}
th,td{
    border: 1px solid brown;
    padding: 12px;
    background-color: bisque;
    text-align: center;
}
footer{
    text-align: center;
    font-size: smaller;
    padding-bottom: 100px;
}